.auth-form-card {
  max-width: 30rem;
  width: 100%;
  padding: $space-8;
  .auth-actions {
    margin-top: $space-8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin-bottom: 0;
        font-size: 1.2rem;
    }
  }
}
