.emergencies-page {
  padding-top: $space-8;
  padding-bottom: $space-8;
  .emergencies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -$space-4;
    margin-right: -$space-4;
    .emergency-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 10rem;
      margin: $space-4;
      margin-top: 0;
      border: 1px solid #fff;
      box-shadow: 0 6px 15px 0 #404f680d;
      padding: $space-6;
      background-color: #fff;
      border-radius: $border-radius-sm;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        border-color: $deep-blue;
        h3 {
          color: $deep-blue;
        }
      }
      h3 {
        font-size: 1.2rem;
        transition: all 0.3s;
      }
    }
  }
}
