.btn {
  padding: $space-2 $space-6;
  border-radius: $border-radius-sm;
  min-width: 8rem;
  &.btn-primary {
    background-color: $deep-blue;
    &:hover {
      background-color: $deep-blue-hover;
    }
  }
  &.btn-secondary {
    background-color: #FFF;
    color: $dark;
    border-color: $dark;
    &:hover {
      background-color: $dark;
      color: #fff;
    }
    &:active {
      background-color: $dark;
    }
  }
  &.btn-danger {
    background-color: $danger;
    color: #FFF;
    &:hover {
      background-color: $danger-hover;
      color: #fff;
    }
    &:active {
      background-color: $danger;
    }
  }
}
