@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");

@mixin primary-font {
    font-family: "Jost", sans-serif;
}

@mixin font-regular {
    @include primary-font();
    font-weight: 400;
}

@mixin font-semibold {
    @include primary-font();
    font-weight: 600;
}