$deep-blue: #1967D2;
$deep-blue-hover: #1451a4;
$close-white: #fdfdfd;
$dark: #202124;
$pale-gray: #F5F7FC;
$pale-blue: #F0F5F7;
$bright-gray: #ECEDF2;
$danger: #dc3545;

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;

$border-radius-sm: 10px;