$deep-blue: #1967d2;
$deep-blue-hover: #1451a4;
$close-white: #fdfdfd;
$dark: #202124;
$pale-gray: #f5f7fc;
$pale-blue: #f0f5f7;
$bright-gray: #ecedf2;
$danger: #dc3545;
$danger-hover: #b3303d;
$green: #34A853;

$space-1: 0.25rem;
$space-2: 0.5rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;

$border-radius-sm: 10px;
