@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./variables";
@import "./fonts";
@import "./animations";

@import "./ui/index.scss";
@import "./components/index.scss";

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-semibold();
  color: $dark;
}

a,
p,
span,
input,
button,
td,
label {
  @include font-regular();
  color: $dark;
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.error-message {
  margin-bottom: 0;
  color: $danger;
  font-size: 1.2rem;
}

.relative {
  position: relative;
}

.page-title {
  margin-bottom: $space-8;
  &::after {
    width: 5rem;
    height: 4px;
    border-radius: $border-radius-sm;
    background-color: $deep-blue;
    content: "";
    display: block;
    margin-top: $space-2;
  }
}

.page {
  padding-top: $space-8;
  padding-bottom: $space-8;
}
